@keyframes bigBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes smallBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wiggle {
  25% {
    transform: rotateZ(-5deg)
  }
  75% {
    transform: rotateZ(5deg)
  }
  100% {

  }
}

#dropdown-button {
  font-size: 1.2em;
  position: relative;
  padding: .3em;
  animation-name: bigBounce;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#dropdown-button:hover {
  animation-play-state: paused;
  color: red;
}

#dropdown-button:active {
  color: rgb(255, 137, 137);
}

#back-to-top {
  display: none;
  color: white;
  background-color: red;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  font-size: 1.2em;
  border: rgb(201, 0, 0);
  height: 3em;
  width: 3em;
  margin-right: 5px;
  border-radius: 6rem;
  position: fixed;
  align-self: flex-end;
  bottom: 5%;
  transition: all 0.15s;
  animation-name: smallBounce;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#back-to-top:hover {
  background-color: rgb(255, 65, 65);
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 12px;
  animation-play-state: paused;
}

#back-to-top:active {
  background-color: rgb(255, 88, 88);
  transform: translateY(0);
}

.like-button {
  color: #4056A1;
  padding: .3em;
  transition: filter .25s;
}

.like-button:hover {
  filter: invert(1);
  animation-name: wiggle;
  animation-duration: .35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.like-button:active {
  animation-play-state: paused;
  opacity: 0.5;
}