#main-header {
  display: flex;
  color: whitesmoke;
  height: 500px;
  width: 100%;
  padding-top: 140px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1.5px 1.5px 2px rgb(85, 85, 85);
  background-color: #000e33;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
}