#main-header {
  display: flex;
  color: whitesmoke;
  height: auto;
  width: 100%;
  padding-top: 140px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #001854;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
}