#navbar {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #001854;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  color: #FFFFFF;
  font-family: 'Bungee';
  font-size: 1.3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
}

#writetweet {
  display: flex;
  width: auto;
  font-size: 0.7em;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  align-items: center;
}

