#new-tweet {
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  display: none;
}

#tweet-form {
  width: 100%;
}

.tweet-label {
  font-weight: 600;
}

#tweet-text {
  height: 3em;
  font-size: .75em;
  resize: none;
  display: block;
  width: 100%;
  background-color: #f4f1ec;
  outline: none;
  overflow: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #545149;;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-bottom: 2rem;
}

.form-buttons {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
}

#tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding-top: .45rem;
  padding-bottom: .45rem;
  padding-left: .6rem;
  padding-right: .6rem;
  justify-content:space-between;
  transition: opacity .15s
}

#tweet-button:hover {
  opacity: 0.8
}

#tweet-button:active {
  opacity: 0.4
}

#char-counter {
  padding-top: .45rem;
  padding-bottom: .45rem;
  padding-left: .6rem;
  padding-right: .6rem;
}