@media only screen and (max-width: 450px) {
  #navbar {
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
  }

  #main-header {
    height: 300px;
  }

  #main-header div {
    font-size: .65em;
  }

  #avatar {
    width: 100px;
    height: 100px;
  }

  #error-banner {
    font-size: .75em;
    padding-bottom: 1.5em;
  }

  #back-to-top {
    font-size: 0.85em;
  }

  #new-tweet {
    font-size: 0.65em;
  }

  #tweet-container {
    font-size: 0.6em;
  }

}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    justify-content: flex-end;
  }

  main {
    width: 50%;
    padding-top: 140px;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }

  #main-header {
    width: 37vw;
    height: 37vw;
    margin-top: 180px;
    padding-top: 0;
    border-radius: 74vw;
    position: fixed;
    left: 5%;
    margin-right: 5%;
    font-size: 2vw;
  }

  #main-header img {
    width: 18vw;
    height: 18vw;
  }

  #new-tweet {
    padding-top: 0;
  }

  #error-banner {
    padding-bottom: 60px;
  }
  
  #tweet-container {
    font-size: 1.3em;
  }

}