#tweet-container {
  width: 100%;
}

.container {
  display: flex;
  height: auto;
  width: 100%;
  font-size: .75em;
  padding: .75rem;
  border: solid;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.container:hover {
  box-shadow: 5px 5px 0 hsl(226, 43%, 44%, 30%);
}

#tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
}

#user {
  display: flex;
  align-items: center;
}

#user img {
  height: 2em;
  width: 2em;
  margin-right: .5em;
  animation-name: wiggle;
  animation-duration: .35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#user-handle {
  color: hsl(226, 43%, 44%, 30%);
  font-weight: bold;
}

#tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-self: flex-end;
  border-top: solid;
  padding: .45rem;
  font-size: .75em;
}

#tweet-container article {
  width: 97%;
  height: 3.5em;
}